@media (max-width: 375px) {

    body {

    background: url(../images/bg-mobile.svg) no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);

    }
    
    .header-container a img {

        margin-bottom: 30px;
        width: 200px;
        
         
    }

    .container img {

        width: 300px;
        
        margin: 0 0 30px 0;
        
    }

    .container .informacoes h1 {

        font-size: 24px;

    }
    
    .container .informacoes {

        text-align: center;
        padding: 30px;
        font-size: 17px;
        margin-bottom: 20px;

    }

    .container .informacoes a {

        align-self: center;

    }

    .rodape {

        justify-content: center;
        margin-right: 0;

    }

   

}