@media (max-width: 700px) {

    body {
        background: url(../images/bg-mobile.svg) no-repeat;
        background-size: contain;
        background-color: hsl(257, 40%, 49%);
    }

    
    .header-container a img {
        margin-bottom: 30px;
        width: 150px;
    }

    .main-container {
        justify-content: center;
    }

    .main-container img {
        width: 300px;
        margin: 0 0 30px 0;
    }


    .main-container .informacoes h1 {
        font-size: 24px;
    }
    
    .main-container .informacoes {
        text-align: center;
        padding: 30px;
        font-size: 17px;
        margin-bottom: 20px;
    }

    .main-container .informacoes a {
        align-self: center;
    }

    .rodape {
        justify-content: center;
        margin-right: 0;
    }
}

@media (min-width: 700px) and (max-width: 1200px) {

    .main-container {
        justify-content: center;
    }

    .main-container .informacoes {
        text-align: center;
    }    

    .main-container .informacoes a {
        align-self: center;
    }
    
    .rodape {
        justify-content: center;
    }
}
